<div class="main-sidebar sidebar-style-2">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <a href="">Meeting Room</a>
    </div>
    <div class="sidebar-brand sidebar-brand-sm">
      <a href="">MRBS</a>
    </div>
    <ul class="sidebar-menu">
      <li class="menu-header">Dashboard</li>
      <li class="dropdown">
        <a asp-controller="Dashboard" asp-action="Index"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a>
        <a asp-controller="Room" asp-action="Index"><i class="fas fa-door-open"></i><span>Rooms</span></a>
        <a asp-controller="User" asp-action="Index"><i class="fas fa-users"></i><span>Users</span></a>
        <a asp-controller="Analytics" asp-action="Index"><i class="fas fa-chart-line"></i><span>Analytics</span></a>
        <a asp-controller="Profile" asp-action="Index"><i class="fas fa-user"></i><span>Profile</span></a>
        <a asp-controller="Profile" asp-action="Index"><i class="fas fa-cog"></i><span>Settings</span></a>
      </li>
  </aside>
</div>